
.markdown-body {
  max-width: 900px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.collapsible{
  height: 0.5em;
  overflow: hidden;
}
.collapsible:target{
  height: auto;
}
pre.highlight{
  padding: 1em;
  white-space: pre-wrap;
}

footer {
  border-top: 1px solid #ccc;
  padding-top: 1em;
}