:root {
  /* root light colours */
  color-scheme: light;
  --col-base: white;
  --col-neutral: #224;
  --col-border: #ccc;
  --col-highlight: #4a72df;
  --col-text: #404040;
  --col-link: #105080;
  --col-hd: #101010;
  --col-hdlink: #101080;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* root dark colours */
    color-scheme: dark;
    --col-base: #100;
    --col-neutral: #ddf;
    --col-border: #444;
    --col-highlight: #6f96ff;
    --col-text: #d0d0d0;
    --col-link: #d0d0f0;
    --col-hd: #e0e0e0;
    --col-hdlink: #e0e0ff;
  }
}


html, body{
  background-color: var(--col-base);
  color: var(--col-text)
}
.markdown-body {
  max-width: 1100px;
  margin: 0 auto;
  background-color: var(--col-base);
  padding-left: 1em;
  position: relative;
}

a {
  text-decoration: none;
  color:var(--col-link)
}
a:hover {
  text-decoration: underline;
}

.collapsible{
  height: 0;
  overflow: hidden;
}
.collapsible:target{
  height: auto;
}
pre.highlight{
  padding: 1em;
  overflow-x: auto;
}

footer {
  border-top: 1px solid  var(--col-border);
  padding-top: 1em;
}

header {
  border-bottom: 1px solid  var(--col-border);
}


blockquote {
  font-size: 90%;
  border-left: 3px solid var(--col-highlight);
  padding-left: 1em;
}
table {
  margin: auto;
  border-collapse: collapse;
}
th,td{
  padding: 0.2em;
}


h1, h2, h3 {
  margin-left: -0.5em;
  color: var(--col-hd);
}
h1 a, h2 a, h3 a, h4 a{
  color: var(--col-hdlink);
}

ul.menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
ul.menu li {
  display: inline-block;
  list-style: none;
  top: 0;
  vertical-align: top;
  padding: 0.25em 1em;
  font-family: sans-serif;
  font-size: 88%;
}

.markdown-body img {
  max-width: 100%;
  border: 1px solid var(--col-border);
  box-shadow: 0.2em 0.2em 0.5em var(--col-border);
}
.center {
  text-align: center !important;
}
.markdown-body img.small {
  max-width: 70%;
}