<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <base href="{{ site.baseurl }} "/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme" content="{{ site.theme }}" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/autumn.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/monokai.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/fcards.css?v=" | append: site.github.build_revision | relative_url }}">
    <title>{{ page.slug | default: site.title  }} | FCards | Pete the Programmer</title>
    
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <header>
        <h1>
          {%if page.url != "/" %}
            <a href="{{ site.baseurl}}\">FCards</a> -
          {% endif %}
          {{ page.slug | default: site.title }}
        </h1>
        <p class="tagline">{{ page.description }}</p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if page.previous %}
          <a href="{{ site.baseurl }}{{ page.previous.url }}">[&lt;&lt; {{ page.previous.slug }}]</a>
        {% else %}
          <a href="{{ site.baseurl }}/">[HOME]</a>
        {% endif %}
        {% if page.next %}
          <a style="float:right" href="{{ site.baseurl }}{{ page.next.url }}">[{{ page.next.slug }} &gt;&gt;]</a>
        {% else %}
          <a  style="float:right" href="{{ site.baseurl }}/">[HOME]</a>          
        {% endif %}
    </footer>
    </div>
  </body>
</html>
